{% extends 'base.html' %}

{% block content %}
<section id="student-login-form">
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="https://pli-octavia.github.io/img/logo.png">
                    <form accept-charset="UTF-8" role="form" action="{% url "student_auth" %}" method="POST">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputEmail3">Écris ton prénom : </label>
                            <input id="input-username" class="form-control" placeholder="Prénom" name="username" type="text">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" >Tape ton mot de passe : </label>
                            <div class="shape-selector text-center"></div>
                            <input id="input-password" class="form-control" placeholder="Password" name="password" type="password" value="">
                            <div class="password-shapes"></div>
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Connexion">
                    </fieldset>
                    </form>
                    <a href="/teacher/">Je suis prof</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}