{% extends 'base.html' %}

{% block content %}

{% if not games_with_flag %}
  <p>Pas de jeux</p>
{% else %}

	<div class="row">
	{% for game, flag in games_with_flag %}
	  <div class="col-sm-3 col-md-3 col-lg-3">
	    <div class="thumbnail">
	      <img src="https://s-media-cache-ak0.pinimg.com/originals/3c/38/6d/3c386d203759319b508d9140440fb1c3.jpg" alt="...">
	      <div class="caption">
          <h3>{{ game.name }}</h3>
          <p>
              {% if flag %}
                {% if student == 0 %}
                  Activé &bull;
                  <a href="/course/{{course_id}}/game/{{game.id}}/disable" class="btn btn-danger" role="button">Désactiver</a>
                  <a href="/game/{{game.id}}/" class="btn btn-primary" role="button">Tester</a>
                {% else %}
                  <a href="/game/{{game.id}}/" class="btn btn-primary" role="button">Jouer</a>
                {% endif %}
              {% else %}
                {% if student == 0 %}
                  Désactivé &bull;
                  <a href="/course/{{course_id}}/game/{{game.id}}/enable" class="btn btn-primary" role="button">Activer</a>
                  <a href="/game/{{game.id}}/" class="btn btn-primary" role="button">Tester</a>
                {% else %}
                  Ce jeux n'a pas encore été activé par votre professeur
                {%endif%}
              {% endif %}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}
