{% extends 'base.html' %}

{% block content %}

{% if not games_with_flag %}
  <p>Pas de jeux</p>
{% else %}

	<div class="row">
	{% for game, flag in games_with_flag %}
	<div class="col-md-3">
          <div class="card card-user">
              <div class="image" style="height: auto;">
                  <img src="https://s-media-cache-ak0.pinimg.com/originals/3c/38/6d/3c386d203759319b508d9140440fb1c3.jpg" alt="..."/>
              </div>
              <div class="content" style="min-height: auto;">
                
                  <h4 class="title text-center">{{ game.name }}<br />
                        </h4>
                        <hr>
                  <p class="description text-center"> ici description ?<br>
                                      Je suis une description <br>
                                      de qualité"
                  </p>
              </div>
              <hr>
              <div class="card-body" >
              <div class="text-center" style="padding: 15px;">
                {% if student == 0 %}
                  {% if flag %}
                    Activé &bull;
                    <a href="/course/{{course_id}}/game/{{game.id}}/disable" class="btn " role="button">Désactiver</a><br>
                    <a style="" href="/game/{{game.id}}/" class="btn  role="button">Tester</a>
                    <a style=""href="/game/{{game.id}}/scores" class="btn " role="button">
                      Scores</a>
                      <a style=""href="/config/{{game.id}}/{{course_id}}" class="btn " role="button">
                      Configurer</a>
                  {% else %}
                    Désactivé &bull;
                    <a href="/course/{{course_id}}/game/{{game.id}}/enable" class="btn " role="button">Activer</a><br>
                    <a href="/game/{{game.id}}/" class="btn " role="button">Tester</a>
                {% endif %}
                {% else %}
                  {% if flag %}
                    <a href="/game/{{game.id}}/" class="btn" role="button">Jouer</a>
                  {% else %}
                  Ce jeu n'a pas été activé par votre professeur
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
    </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}
  