{% load static %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{game_name}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" href='{% static "games/"|add:game_name|add:"/TemplateData/favicon.ico" %}'>
    <link rel="stylesheet" href='{% static "games/"|add:game_name|add:"/TemplateData/style.css" %}'>
    <script src='{% static "games/"|add:game_name|add:"/TemplateData/UnityProgress.js" %}'></script>  
    <script src='{% static "games/"|add:game_name|add:"/Build/UnityLoader.js" %}'></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", '{% static "games/"|add:game_name|add:"/Build/"|add:game_name|add:".json" %}', {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">{{game_name}}</div>
      </div>
    </div>
  </body>
</html>


<script type="text/javascript">

var gameManagement = {

 sendScore:function(score) {
      $.ajax({
      type: 'POST',
      url: '/score/' + {{user.id}} + '/' + {{game_id}} + '/',
      data: {'score': score},
      success: function(msg) {
        
      }
  })
  },

  getConfig:function() {
    return {{config|safe}}
  },
  quitGame:function() {
    document.location.href="http://dev.octavia-academy.com/"
  }


}

</script>
