{% extends 'base.html' %}

{% block content %}

<div class="content">

	{% if error %}
	<h3 class="error">Une erreur est survenue, le fichier est incorrect.</h3>
	{% endif %}

	<form action='{% url 'game_upload' %}' enctype="multipart/form-data" method="post">
    <div class="form-group row">
			<label for="name">Fichier game .zip</label>
			<input type="text" class="form-control" name="name" />
		</div>
    <div class="form-group row">
			<label for="gamefile">Fichier game .zip</label>
			<input type="file" class="form-control" name="gamefile" />
		</div>
    <div class="form-group pull-right">
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
	</form>

</div>

{% endblock %}
