{% extends 'base.html' %}

{% block content %}
<section id="teacher-login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Connexion</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" action='/teacher/auth' method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputEmail3">Email : </label>
                                    <input id="inputEmail3" class="form-control" placeholder="Email" name="email" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3">Password : </label>
                                    <input id="input-password" class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Connexion">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}