{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    .wrapper{
        background-image: url(https://i.pinimg.com/originals/b1/a8/96/b1a896d9351341f4342113c0b85313e5.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<section id="teacher-login-form" class="loginform">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                   <img class="img-login" src="https://pli-octavia.github.io/img/logo.png">
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" action='/teacher/auth' method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputEmail3">Email : </label>
                                    <input id="inputEmail3" class="form-control" placeholder="Email" name="email" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3">Password : </label>
                                    <input id="input-password" class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <input class="btn btn-block" type="submit" value="Connexion">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}