/*Page Login student*/


.shape-square:after {
    content: url(http://www.clker.com/cliparts/b/e/c/3/131406375432193858green%20square-th.png)
}

.shape-circle:after {
    content: url(http://www.anchorbyte.com/inkfish/images/circle-red.png);
}

.shape-triangle:after {
    content: url(http://www.clker.com/cliparts/c/2/d/a/13140637441630548187yellow%20triangle-th.png);
}

.img-login{
    width: 100px;
    margin-left: 39%;
    margin-right: auto;
    position: absolute;
    margin-top: -28px;
}
.loginform{
	margin-top: 10%;
}
.link-teacher{
	color: #9368E9;
    text-decoration: none;
}
.logo-body {
  width: 100px;
  height: 71px;
  background: transparent url(https://pli-octavia.github.io/img/logo.png) no-repeat;
  background-size: cover;
  font-size: 5px;
}
.logo-container {
  margin-left: 41%;
  padding-top: 6px;
  width: 35px;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background: white;
}
.eye:after {
  position: absolute;
  bottom: 6px;
  right: 7px;
  width: 7px;
  height: 7px;
  background: #000;
  border-radius: 50%;
  content: " ";
}