/*Page Login student*/


.shape-square:after {
    content: url(http://www.clker.com/cliparts/b/e/c/3/131406375432193858green%20square-th.png)
}

.shape-circle:after {
    content: url(http://www.anchorbyte.com/inkfish/images/circle-red.png);
}

.shape-triangle:after {
    content: url(http://www.clker.com/cliparts/c/2/d/a/13140637441630548187yellow%20triangle-th.png);
}