{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Créer une classe</h4>
        </div>
        <div class="content">
            <form action='/course/store' method="POST">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nom de la classe</label>
                            <input type="text" class="form-control" placeholder="name" name="name" value="">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn pull-right">Valider</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
