{% extends 'base.html' %}

{% block content %}

{% for user in users %}
<h2>
	{% if user.user.profil.role != 1 %}
		{{ user.user }}
	{% endif %}
</h2>

{% endfor %}

<div class="col-xs-4">
            <nav id="spy">
                <ul class="sidebar-nav nav">
                    <li class="sidebar-brand">
                        <a href="/course/{{course_id}}/param/"><span class="fa fa-home solo">Gestion de la classe</span></a>
                    </li>
                    <li>
                        <a href="/student/create/" data-scroll>
                            <span class="fa fa-anchor solo">Gestion des élèves</span>
                        </a>
                    </li>
                    <li>
                        <a href="#anch2" data-scroll>
                            <span class="fa fa-anchor solo">Librairie</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

<div class="row">
	<a href="/student/create/" class="btn btn-primary" role="button">Ajouter un élève</a>
</div>
{% endblock %}
