{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-3">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="/course/{{course_id}}/param/"><span class="fa fa-home solo">Gestion de la classe</span></a>
                </li>
                <li>
                    <a href="/student/create/" data-scroll>
                        <span class="fa fa-anchor solo">Gestion des élèves</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Librairie</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>

    <div class="col-sm-9">
        <table id="student_table" class="display">
            <thead>
                <tr>
                    <th>Login de l'enfant</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                {% if user.user.profil.role != 1 %}
                <tr>
                    <td>
                        {{ user.user.username }}
                    </td>
                    <td>
                        {{ user.user.first_name }}
                    </td>
                    <td>
                        {{ user.user.last_name }}
                    </td>               
                	 <td>
                	 	<div class='pull-right'>
                	 		<button class="btn btn-primary">Modifier</button>
                	 		<button class="btn btn-danger">Supprimer</button>
                	 	</div>
                	 </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <a href="/student/create/" class="btn btn-primary" role="button">Ajouter un élève</a>
    </div>
</div>

{% endblock %}
