{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-3">

    <a href="/student/create/" class="btn btn-primary" role="button">Ajouter un élève</a>

        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a href="/course/{{course_id}}/param/"><span class="fa fa-home solo">Gestion de la classe</span></a>
                </li>
                <li>
                    <a href="/student/create/" data-scroll>
                        <span class="fa fa-anchor solo">Gestion des élèves</span>
                    </a>
                </li>
                <li>
                    <a href="#anch2" data-scroll>
                        <span class="fa fa-anchor solo">Librairie</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-sm-9">
        <table id="student_table" class="display">
            <thead>
                <tr>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>
                        {% if user.user.profil.role != 1 %}
                        {{ user.user }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
