{% extends 'base.html' %}

{% block content %}

<div class='row'>
		<a href="/course/create/"><button class='btn btn-primary pull-right'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Créer une classe  </button></a>
</div>
{% if not courses %}
   <p>Pas de classe</p>
{% else  %}

	<div class="row">
	{% for course in courses %}
	  	<div class="col-md-4">
	        <div class="card card-user">
	            <div class="image">
	                <img src="https://s-media-cache-ak0.pinimg.com/originals/3c/38/6d/3c386d203759319b508d9140440fb1c3.jpg" alt="..."/>
	            </div>
	            <div class="content">
	              
	                <h4 class="title">{{course.course.name}}<br />
	                      </h4>
	                <p class="description text-center"> ici description ?<br>
	                                    Je suis une description <br>
	                                    de qualité"
	                </p>
	            </div>
	            <hr>
	            <div class="text-center">
	                <a href="/course/{{course.course.id}}/edit" class="btn btn-default">Modifier</a>
	                <a href="delete/{{course.id}}" class="btn btn-default">Supprimer</a>
	                <a href="/course/{{course.course.id}}/game" class="btn btn-default">Jeux</a>

	            </div>
	        </div>
		</div>
	
	{% endfor %}
	</div>
{% endif %}

{% endblock %}