{% extends 'base.html' %}

{% block content %}

{% if not courses %}
   <p>Pas de classe</p>
{% else  %}
	<div class="row">
	{% for course in courses %}
	  <div class="col-sm-3 col-md-3 col-lg-3">
	    <div class="thumbnail">
	      <img src="https://s-media-cache-ak0.pinimg.com/originals/3c/38/6d/3c386d203759319b508d9140440fb1c3.jpg" alt="...">
	      <div class="caption">
	        <h3>{{course.course.name}}</h3>
	        <p><a href="/course/{{course.course.id}}/edit" class="btn btn-primary" role="button">Modifier</a> <a style="float:right;" href="delete/{{course.id}}" class="btn btn-danger" role="button">Supprimer</a></p>
	      </div>
	    </div>
	  </div>
	
	{% endfor %}
	</div>
{% endif %}

{% endblock %}
