{% extends 'base.html' %}

{% block content %}

<div class="content">

  <h2>Config</h2>
  <form action="/config/store" method="POST">
      <input type="hidden" name="game_id" value="{{game_id}}">
      <input type="hidden" name="course_id" value="{{course_id}}">

      <div id="settings-form">
      </div>

      <input type="hidden" id="inputconf" name="conf" />

      <input class="btn btn-primary pull-right"type="submit">
  </form>
</div>
<style>
.wrapped-input {
  display: inline-block;
}
.wrapped-input:not(:first-of-type) {
  margin-left: 15px;
}
ul li:not(:first-of-type) label {
  display: none;
}
</style>
<script>
var formConfig = {{metadata|safe}};
//*
var formConfig = {
  opts: {class: "form-group"},
  fields: {
    "words": {
      type: "list-nested",
      legend: "Liste des mots",
      tag: "ul", // if you change this, also change css
      item: {
        tag: "li",
        class: "form-group"
      },
      removeText: "[-] ",
      addText: "[+] ",
      config: {
        layout: {tag: "span", class: "wrapped-input"}, // la classe est + haut
        fields: {
          "mauvaismot": {"label": "Mauvais (ou identique)", class: "form-control"},
          "bonmot": {"label": "Correction", class: "form-control"}
        }
      }
    }
  }
};
//*/
var currentConfig = {{config|safe}};
</script>
{% endblock %}
