{% load static %}
<head>
	<title>{% block title %}{{ view_name }}{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src='{% static "/datatables.js" %}'></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <!-- HighCharts -->
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <!-- Eyes -->
    <script type="text/javascript" src='{% static "/eyes.js" %}'></script>
    <script type="text/javascript" src='{% static "/light-bootstrap-dashboard.js" %}'></script>
    <!-- custom CSS -->
    <link rel="stylesheet" href='{% static "css/normalize.css" %}'>
    <link rel="stylesheet" href='{% static "css/light-bootstrap-dashboard.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/pe-icon-7-stroke.css" %}'>
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>   
    <link rel="stylesheet" href='{% static "css/student_login.css" %}'>  

    
</head>
<body>

<div class="wrapper">
    {% block header %}
<!--     <header>
        <div class="container clearfix">
            <div class="navbar-wrapper">
                <div class="container">
                    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar_whole">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            {% if request.user.profil.role == 1 %}
                                <a class="navbar-brand" href="/course/">OCTAVIA</a>
                            {% elif request.user.profil.role == 0 %}
                                <a class="navbar-brand" href="#">OCTAVIA</a>
                            {% else %}
                                <a class="navbar-brand" href="/home/">OCTAVIA</a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header> -->
    {% if user.is_authenticated %}
        <div class="sidebar" data-color="purple" data-image="https://s-media-cache-ak0.pinimg.com/originals/3c/38/6d/3c386d203759319b508d9140440fb1c3.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        Octavia 
                    </a>
                </div>

                <ul class="nav">
                    {% if request.user.profil.role == 1 %}
                    <li class="active">
                        <a href="/course/">
                            <i class="pe-7s-world"></i>
                            <p>Classe</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/course/create/">
                            <i class="pe-7s-tools"></i>
                            <p>Créer une classe</p>
                        </a>
                    </li>
                    {% elif request.user.profil.role == 0 %}
                    <li>
                        <a href="/">
                            <i class="pe-7s-user"></i>
                            <p>Jouer</p>
                        </a>
                    </li>
                    {% endif %}
                    {% if request.session.course_id and request.user.profil.role == 1 %}
                        <div class="logo" style="    margin-top: 80px;">
                            <a class="simple-text" style="font-size: 12px;">vous travaillez sur : {{ request.session.course_name }}</a>
                        </div>
                        <li>
                            <a href="/student/create/{{ request.session.course_id }}">
                                <i class="pe-7s-add-user"></i>
                                <p>Ajouter un élève</p>
                            </a>
                        </li>
                        <li>
                            <a href="/course/{{request.session.course_id}}/param/">
                                <i class="pe-7s-menu"></i>
                                    <p>Gestion de la classe</p>
                            </a>
                        </li>
                        <li>
                            <a href="/course/{{request.session.course_id}}/game">
                                <i class="pe-7s-rocket"></i>
                                    <p>Librairie des jeux</p>
                                </a>
                            </li>
                    {% endif%}
                    <li class="nav-item active active-pro">
                            <a class="nav-link active" href="/teacher/logout">
                                <i class="pe-7s-power"></i>
                                <p>Deconnexion</p>
                            </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-background" style="background-image: url(https://s-media-cache-ak0.pinimg.com/originals/3c/38/6d/3c386d203759319b508d9140440fb1c3.jpg) "></div>
        </div>
    {% endif %}
    {% endblock %}

    <div class="main-panel">
         <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                 
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</div>
<script src='{% static "prelude.min.js" %}'></script>
<script src='{% static "modules.js" %}'></script>
<script src='{% static "form.js" %}'></script>
<script src='{% static "login-form.js" %}'></script>
<script src='{% static "game_scores.js" %}'></script>
<script src='{% static "config_see.js" %}'></script>

<script>
octavia.require('{{ view_name }}');
</script>
{% block extra_js %}
{% endblock %}
