{% load static %}
<head>
	<title>{% block title %}{{ view_name }}{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src='{% static "/datatables.js" %}'></script>    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href='{% static "css/normalize.css" %}'>
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
    <link rel="stylesheet" href='{% static "css/student_login.css" %}'>

    
</head>
<body>
<div class="page-header">
    {% block header %}
    <header>
        <div class="container clearfix">
            <div class="navbar-wrapper">
                <div class="container">
                    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar_whole">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            {% if request.user.profil.role == 1 %}
                                <a class="navbar-brand" href="/course/">OCTAVIA</a>
                            {% elif request.user.profil.role == 0 %}
                                <a class="navbar-brand" href="#">OCTAVIA</a>
                            {% else %}
                                <a class="navbar-brand" href="/home/">OCTAVIA</a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="{% static "prelude.min.js" %}"></script>
<script src="{% static "modules.js" %}"></script>
<script>
octavia.require('{{ view_name }}');
</script>